* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body {
    background: url(../images/fundo-preto-blur.png);
    background-size: cover;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    min-height: 100vh;
    color: white;
  }
  
  header {
    background-image: linear-gradient(to right, #9041DE, #703FC6, #6E09A3);
    color: white;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-bottom: 70px;
  }
  
  header h2 {
    display: flex;
      align-items: center;
      margin: 0 15px;
      font-weight: 100;
      font-family: 'Bebas Neue', sans-serif;
  }
  
  header h2 a {
    color: inherit;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .risquinhos {
    color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 26px;
  }
  

  .produtos-section {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin-bottom: 100px;
    color: rgb(0, 0, 0);
}

.container-produtos {
    flex-wrap: wrap;
    max-width: 1000px;
    width: 250px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2px;
    transition: transform 0.4s ease, box-shadow 0.2s ease;

}

.quantidade-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
  }
  
  .quantidade {
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 14px;
    word-wrap: break-word;
    background-color: rgba(221, 221, 221, 0.2);
    align-self: flex-start;
  }

  .promocoes {
    flex-wrap: wrap;
    max-width: 1000px;
    width: 250px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 2px;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
  }
