@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/fundo-preto-loja.png');
    background-size: cover;
    margin: 0;
}

header {
    background-image: linear-gradient(to right, #9041DE, #703FC6, #6E09A3);
    color: white;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-bottom: 70px;
}

header h2 {
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-weight: 100;
    font-family: 'Bebas Neue', sans-serif;
    cursor: pointer;
}

header h2 i {
    margin-right: 8px;
    font-size: 20px;
}

header h2 a {
    color: inherit;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 8px;
}

.risquinhos {
    top: 35px;
    right: 190px;
    color: white;
    cursor: pointer;
    display: flex;
    z-index: 1000;
}

.quadrado-categoria {
    position: absolute;
    top: 2%;
    right: 12%;
    width: 330px;
    height: 360px;
    border-radius: 20px;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    background: #50027a;
    justify-content: center;
    display: flex;
    gap: 50px;
    z-index: 10;
}

.quadrado-categoria h3 {
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    line-height: 8px;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quadrado-categoria h2 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: -70px;
    font-weight: 10;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

main {
    background: transparent;
    flex: 1;
    padding: 2px 2px;
    width: 100%;
}

.produtos-section {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin-bottom: 100px;
    text-align: center;
    color: white;
}

.container-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.bloco-produto {
    width: 250px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
}

.bloco-produto:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.02);
}

.bloco-produto img {
    max-width: 80%;
    height: 200px;
    margin-bottom: 30px;
    object-fit: contain;
}

.bloco-produto h4 {
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: white;
}

.bloco-produto p {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
    padding: 5px;
    color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.ver-mais {
    display: block;
    background-color: #ffffff;
    width: 10%;
    margin: 40px auto 60px;
    padding: 3px;
    border-radius: 20px;
}

.ver-mais p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

p:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 21px;
}

@media (max-width: 1600px) {
    header {
        padding: 15px;
    }

    header h2 {
        font-size: 22px;
    }

    .risquinhos {
        right: 37px;
        font-size: 24px;
    }

    .quadrado-categoria {
        right: 11vw;
        top: 5px;
    }

    .container-produtos {
        justify-content: center;
    }
    
    .bloco-produto {
        width: 45%;
        min-width: 250px;
    }
}

@media (max-width: 1200px) {
    header {
        padding: 15px;
    }

    header h2 {
        font-size: 22px;
    }

    .risquinhos {
        right: 35px;
        font-size: 24px;
    }

    .quadrado-categoria {
        right: 7vw;
        width: 200px;
        top: 5px;
    }

    .container-produtos {
        justify-content: center;
    }
    
    .bloco-produto {
        width: 45%;
        min-width: 250px;
    }
}

@media (max-width: 768px) {
    header {
        flex-wrap: nowrap;
        padding: 15px;
    }

    header h2 {
        font-size: 18px;
    }

    .risquinhos {
        top: 20px;
        right: 25px;
        font-size: 20px;
    }

    .bloco-produto {
        width: 60%;
    }

    .quadrado-categoria {
        right: 10px;
        width: 180px;
    }

    .ver-mais {
        width: 40%;
    }
}